POSTGRES_DB=studyweb
POSTGRES_USER=studyweb
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5433

REDIS_HOST=localhost
REDIS_PORT=6380

JWT_SECRET=change-me-this-is-a-dev-secret-that-is-at-least-64-bytes-long-0123456789
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

OTP_LENGTH=6
OTP_EXPIRATION_SECONDS=300
OTP_MAX_ATTEMPTS=5
OTP_COOLDOWN_SECONDS=60

S3_URL=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=
S3_REGION=ap-southeast-1

#CORS
CORS_ALLOWED_ORIGINS=
